<!DOCTYPE html>
<html>
<head>
<title>Admin</title>
</head>

<body style="background:#111;color:white;text-align:center;">

<h2>Panel de Usuarios</h2>

<form method="post" action="/crear_usuario">
<input name="user" placeholder="Usuario">
<input name="pass" placeholder="Password">
<select name="rol">
<option>admin</option>
<option>medico</option>
</select>
<button>Crear</button>
</form>

<hr>

<table border="1" style="margin:auto;">
<tr><th>ID</th><th>User</th><th>Rol</th></tr>

{% for u in users %}
<tr>
<td>{{u[0]}}</td>
<td>{{u[1]}}</td>
<td>{{u[3]}}</td>
</tr>
{% endfor %}

</table>

</body>
</html>
