<!DOCTYPE html>
<html>
<head>
<title>Usuarios</title>
<style>
body{font-family:Arial;background:#0f172a;color:white;}
table{width:100%;border-collapse:collapse;}
td,th{border:1px solid #ccc;padding:10px;}
</style>
</head>
<body>

<h2>Panel de Usuarios</h2>

<form method="POST" action="/crear_usuario">
<input name="usuario" placeholder="Usuario">
<input name="password" placeholder="Password">
<input name="nombre" placeholder="Nombre Doctor">

<select name="rol">
<option value="medico">Médico</option>
<option value="admin">Admin</option>
</select>

<button>Crear</button>
</form>

<hr>

<table>
<tr>
<th>ID</th>
<th>Usuario</th>
<th>Rol</th>
<th>Nombre</th>
<th>Acción</th>
</tr>

{% for u in usuarios %}
<tr>
<td>{{u[0]}}</td>
<td>{{u[1]}}</td>
<td>{{u[2]}}</td>
<td>{{u[3]}}</td>
<td><a href="/eliminar_usuario/{{u[0]}}">Eliminar</a></td>
</tr>
{% endfor %}

</table>

</body>
</html>
